<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/stylesheets/themes/JATheme.min.css" />
    <link rel="stylesheet" href="/stylesheets/themes/jquery.mobile.icons.min.css" />
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile.structure-1.4.5.min.css" />
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
  </head>
  <body>
    <div data-role="page" data-theme="a">

      <div data-role="header" data-position="inline">
        <h1>Welcome to <%= title %></h1>
      </div>

      <div role="main" class="ui-content">
        <form data-ajax="false" action="/doLogin" method="post">
          <input placeholder="Username" type="text" name="credential" id="">
          <input placeholder="Password" type="password" name="password" id="">
          <input type="submit" value="Submit">
          <input type="reset" value="Reset">
        </form>
      </div>

      <div data-role="footer">
        <h4>JA &copy 2017</h4>
      </div>

    </div>
  </body>
</html>
