<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/stylesheets/themes/JATheme.min.css" />
    <link rel="stylesheet" href="/stylesheets/themes/jquery.mobile.icons.min.css" />
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile.structure-1.4.5.min.css" />
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
</head>
<body>
<div data-role="page" data-theme="a">

    <div data-role="header" data-position="inline">
        <h1>Register to <%= title %></h1>
    </div>

    <div role="main" class="ui-content">
        <form data-ajax="false" action="/doRegister" method="post">
            <input placeholder="Username" type="text" name="username" id="">
            <fieldset data-role="controlgroup">
            <input type="radio" name="gender" id="radio-choice-1" value="male" checked="checked"><label for="radio-choice-1">Male</label>
            <input type="radio" name="gender" id="radio-choice-2" value="female"><label for="radio-choice-2">Female</label>
            </fieldset>
            <input placeholder="Password" type="password" name="password" id="">
            <input placeholder="Email" type="email" name="email" id="">
            <input type="submit" value="Submit">
            <input type="reset" value="Reset">
        </form>
    </div>

    <div data-role="footer">
        <h4>JA &copy 2017</h4>
    </div>

</div>
</body>
</html>
